.notification-card {
  width: 50%;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  width: 25px;
  height: 25px;
  margin-right: 25px;
}

@media (max-width: 767px) {
  .notification-card {
    width: 70%;
  }
}
